*.odp diff=openDocument
*.odt diff=openDocument
*.ods diff=openDocument

*.pdf	diff=pdf

*.gpg	diff=gpg

*.png diff=image
*.psd diff=image
*.ai  diff=image
*.jpg diff=image
*.JPG diff=image

*.html filter=nleof
*.php filter=nleof
*.css filter=nleof
*.twig filter=nleof
*.md filter=nleof
*.h filter=nleof
*.c filter=nleof
*.cpp filter=nleof
*.cxx filter=nleof
*.cc filter=nleof
*.java filter=nleof
*.tex filter=nleof
*.ly filter=nleof

debian/changelog merge=dpkg-mergechangelogs
