[user]
	name = Danny Edel
	email = mail@danny-edel.de
[alias]
	ci = commit --verbose
	st = status
	fa = fetch --all -p
	pull = pull --ff-only
	d = diff --no-ext-diff
	dw= diff --no-ext-diff --word-diff=color
	dd = diff --no-index --textconv --
	dc = diff --no-ext-diff --cached
	# crev: Current revision
	crev = log --oneline -1
	# Make "Which patch fixed it?" bisecting less brainfuck
	# thanks to http://stackoverflow.com/questions/15407075/how-could-i
	bisect-fixed = bisect bad
	bisect-stillbroken = bisect good
[core]
	eol = lf
	autocrlf = input
	safecrlf = warn
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,trailing-space,tabwidth=4
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[grep]
	lineNumber = true
	extendedRegexp = true
[diff "openDocument"]
	textconv=odt2txt
[diff "pdf"]
	textconv=~/bin/pdftotextstdout
[diff "gpg"]
	textconv=~/bin/gpg-inspect
[diff "image"]
	command=~/bin/imagediff
	textconv=~/bin/exiftoolnofilename
[filter "nleof"]
	# found at http://unix.stackexchange.com/questions/31947/how-to-add-a-newline-to-the-end-of-a-file
	clean=sed -e '$a\\'
	smudge=cat
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
	pushInsteadOf = https://gist.github.com/
[push]
	default = nothing
