[user]
	name = Danny Edel
	email = mail@danny-edel.de
[alias]
	ci = commit
	st = status
	fa = fetch --all -p
	pull = pull --ff-only
	d = diff --no-ext-diff
	dw= diff --no-ext-diff --word-diff=color
	dd = diff --no-index --textconv --
	dc = diff --no-ext-diff --cached
	# crev: Current revision
	crev = log --oneline -1
[core]
	eol = lf
	autocrlf = input
	safecrlf = warn
	attributesfile = ~/.gitattributes
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[grep]
	lineNumber = true
	extendedRegexp = true
[diff "openDocument"]
	textconv=odt2txt
[diff "pdf"]
	textconv=~/bin/pdftotextstdout
[diff "image"]
	command=~/bin/imagediff
	textconv=~/bin/exiftoolnofilename
[filter "nleof"]
	# found at http://unix.stackexchange.com/questions/31947/how-to-add-a-newline-to-the-end-of-a-file
	clean=sed -e '$a\\'
	smudge=cat
